@{
    ViewData["Title"] = "Home Page";
}
@model ChildDictionary.Models.Words
@if (Model == null)
{
    @if (TempData["Error"].ToString() == "")
    {
        <div class="background">
            <img src="~/img/background.svg" id="background" alt="Background with grass and clouds" class="arkaresim">
            <img src="~/img/reading.svg" id="reading" alt="Family reading book" class="reading">
            <img src="~/img/family.svg" id="family" alt="Stick Figure Family" class="family">
            <img src="~/img/plane.svg" id="plane" alt="Plane" class="plane">
        </div>
        <form asp-controller="Home" asp-action="Index" id="myform">
            <p>
                <input type="text" class="searchbox" id="searchbox" name="SearchString">
                <input type="submit" class="searchbutton" id="searchbutton" value="Search" onclick="deneme()" />
                <select id="language" class="lang" name="Language">
                    <option value="0">Turkish-English</option>
                    <option value="1">English-Turkish</option>
                </select>
            </p>
        </form>
        <div class="sonucanim" id="sonucanim">

        </div>
    }
    else
    {
        <div class="background">
            <img src="~/img/background.svg" id="background" alt="Background with grass and clouds" class="arkaresim">
        </div>
        <form asp-controller="Home" asp-action="Index" id="myform">
            <p>
                <input type="text" class="searchboxafter" id="searchbox" name="SearchString">
                <input type="submit" class="searchbuttonafter" id="searchbuttonafter" value="Search" onclick="deneme()" />
                <select id="language" class="langafter" name="Language">
                    <option value="0">Turkish-English</option>
                    <option value="1">English-Turkish</option>
                </select>
            </p>
        </form>
        <div class="sonuc">
            <img class="hata" src="img/@TempData["Error"]" alt="hata">
        </div>

    }
}
else
{
    <div class="background">
        <img src="~/img/background.svg" id="background" alt="Background with grass and clouds" class="arkaresim">
    </div>
    <form asp-controller="Home" asp-action="Index" id="myform">
        <p>
            <input type="text" class="searchboxafter" id="searchbox" name="SearchString">
            <input type="submit" class="searchbuttonafter" id="searchbuttonafter" value="Search" onclick="deneme()" />
            <select id="language" class="langafter" name="Language">
                <option value="0">Turkish-English</option>
                <option value="1">English-Turkish</option>
            </select>
        </p>
    </form>


    <div class="sonuc">
        @if (TempData["Lang"].ToString() == "0")
        {
            <h2 style="text-align:center;text-decoration:underline;">Turkish</h2>
            <p class="wordturkce"> @Html.DisplayFor(model => model.WordTurkish)</p>
            <img class="sonucimg" src="@Url.Content("~/img/WordImg/" + Model.ImagePath)" alt="">
            <h2 style="text-align:center;text-decoration:underline;">English</h2>
            <p class="wordingilizce"> @Html.DisplayFor(model => model.WordEnglish)</p>
            <h2 style="text-align:center;text-decoration:underline;">Description</h2>
            <p class="wordanlam">@Html.DisplayFor(model => model.Meaning)</p>
        }
        else
        {
            <h2 style="text-align:center;text-decoration:underline;">English</h2>
            <p class="wordingilizce"> @Html.DisplayFor(model => model.WordEnglish)</p>
            <img class="sonucimg" src="@Url.Content("~/img/WordImg/" + Model.ImagePath)" alt="">
            <h2 style="text-align:center;text-decoration:underline;">Turkish</h2>
            <p class="wordturkce"> @Html.DisplayFor(model => model.WordTurkish)</p>
            <h2 style="text-align:center;text-decoration:underline;">Description</h2>
            <p class="wordanlam">@Html.DisplayFor(model => model.Meaning)</p>
        }



    </div>
    
}
<footer style="text-align: center; padding-top: 550px; font-size:36px; font:bold">
    Click <a href=@Url.Action("References","Home")>here</a> for references.
</footer>