@model IEnumerable<ChildDictionary.Models.Words>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-dark bg-dark">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <a class="btn btn-primary" asp-action="Create">Add New Words</a>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Image</h3>
            </th>
            <th>
                <h3>Turkish</h3>
            </th>
            <th>
                <h3>English</h3>
            </th>
            <th>
                <h3>Description</h3>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="portrait" src="@Url.Content("~/img/WordImg/" + @item.ImagePath)" alt="">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WordTurkish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WordEnglish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Meaning)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>